$color-ci: #0c8a5a;

$color-gray: #8c8c8c;

// Screensizes
$screen-wide: 1440px;
$screen-large: 1280px;
$screen-medium: 1024px;
$screen-small: 768px;
$screen-mini: 320px;

$screen-desktop: $screen-wide;
$screen-tablet: $screen-medium;
$screen-mobile: $screen-small;
